#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}
.header {
  padding: 1vw;
}

h1 {
  text-align: center;
  color: rgb(16, 16, 16);
}

body {
  background-image: linear-gradient(
    rgb(224, 151, 247),
    white,
    rgb(224, 151, 247)
  );
}

.search{
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;
  align-items: flex-end;
  text-align: left;
  margin-bottom: 15px;
  


}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 3px;
  margin-bottom: 15px;
  width: 100vw
}


form input {
  margin-bottom: 7px;
}

form input,
form label,
form button {
  width: 100%;
}

.article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(3, 5, 103);
  border-radius: 10px;
  width: 300px;
  padding: 0 15px 15px;
  margin: 0 10px 10px 0;
}

img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  padding: 20px;
}